## Pradzia

In [53]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.upper())

AS ESU STUDENTAS

In [54]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.lower())

as esu studentas

In [55]:
vaisiai = ("apelsinas", "obuolys")
isvardinti = ", ".join(vaisiai)
print(isvardinti)

apelsinas, obuolys

In [56]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.split())

['As', 'esu', 'studentas']

In [57]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.find('studentas'))

7

In [58]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.replace('esu', 'busiu'))

As busiu studentas

## Teksto formatavimas

In [59]:
vardas = "Arnas"
amzius = 21
tekstas = "Sveiki aš " "esu " \
    + vardas + \
    ", man yra " + str(amzius) + 'metai'
print(tekstas)

Sveiki aš esu Arnas, man yra 21metai

In [60]:
vardas = "Arnas"
amzius = 21
tekstas = "Sveiki, as esu %s ir man yra %d metu" % (vardas, amzius)
print(tekstas)

Sveiki, as esu Arnas ir man yra 21 metu

In [61]:
tekstas = "Sveiki, aš esu {}, man yra {} metų".format(vardas, amzius)
print(tekstas)

Sveiki, aš esu Arnas, man yra 21 metų

In [62]:
tekstas = f"sveiki, as esu {vardas}, man yra {amzius} metu"
print(tekstas)

sveiki, as esu Arnas, man yra 21 metu

In [63]:
kaina = 99.9455
print(f"kaina: {kaina:.2f}")

kaina: 99.95

In [64]:
print(f"kaina: {kaina:010.0f}")
print(f"kaina: {kaina:10.0f}")
print(f"kaina: {kaina:0.0f}")

kaina: 0000000100
kaina:        100
kaina: 100

## uzduotis sarasai

In [65]:
sarasas = ["pica", "obuolys", "burgeris", "kotletas", "makaronai", "guliasas"]
print(sarasas[-1])

guliasas

In [66]:
print(sarasas[:3])
print(sarasas[-2:])
print(sarasas[1:4])
print(sarasas[::2])

['pica', 'obuolys', 'burgeris']
['makaronai', 'guliasas']
['obuolys', 'burgeris', 'kotletas']
['pica', 'burgeris', 'makaronai']

In [70]:
sarasas.append("suris")

In [68]:
print(sarasas)

['pica', 'obuolys', 'burgeris', 'kotletas', 'makaronai', 'guliasas', 'g', 'u', 'l', 'i', 'a', 's', 'a', 's', 's']

In [69]:
sarasas.remove('sultys')
print(sarasas)

ValueError: list.remove(x): x not in list

In [ ]:
kur_makaronai = sarasas.index("makaronai")
print(kur_makaronai)

4

In [ ]:
sarasas.reverse()
print(sarasas)

['s', 's', 'a', 's', 'a', 'i', 'l', 'u', 'g', 's', 's', 'a', 's', 'a', 'i', 'l', 'u', 'g', 'guliasas', 'makaronai', 'kotletas', 'sultys', 'burgeris', 'obuolys']

In [ ]:
print(len(sarasas))

24

In [ ]:
print("apelsinas" in sarasas)

False

## Zodynai

In [73]:
zodynas = {'Reksas': 4, 'Bingo': 5, 'Grantas': 1}
print(zodynas)

{'Reksas': 4, 'Bingo': 5, 'Grantas': 1}

In [74]:
print(zodynas['Bingo'])

5

In [75]:
zodynas['Sniegius'] = 2
print(zodynas)

{'Reksas': 4, 'Bingo': 5, 'Grantas': 1, 'Sniegius': 2}

In [76]:
zodynas['Bingo'] = 4
print(zodynas)

{'Reksas': 4, 'Bingo': 4, 'Grantas': 1, 'Sniegius': 2}

In [77]:
del zodynas['Reksas']
print(zodynas)

{'Bingo': 4, 'Grantas': 1, 'Sniegius': 2}

In [84]:
vardai = zodynas.keys()
print(vardai)
amzius = zodynas.values()
print(amzius)

dict_keys(['Bingo', 'Grantas', 'Sniegius'])
dict_values([4, 1, 2])

In [86]:
augintiniu_sarasas = zodynas.items()
print(augintiniu_sarasas)
suo = zodynas.get('Grantas')
print(suo)

dict_items([('Bingo', 4), ('Grantas', 1), ('Sniegius', 2)])
1

## For ciklai

In [6]:
sarasas = list('ABCDEF')
for raide in sarasas:
    print(raide)

A
B
C
D
E
F

In [11]:
zodziai = []

for zodis in range(5):
    zodziai.append(input('Įveskite žodį: '))

for numeris, zodis in enumerate(zodziai):
    print(f'{numeris + 1}: {zodis}, simbolių kiekis: {len(zodis)}')
print('Žodžių kiekis:', len(zodziai))

1: , simbolių kiekis: 0
2: , simbolių kiekis: 0
3: , simbolių kiekis: 0
4: , simbolių kiekis: 0
5: , simbolių kiekis: 0
Žodžių kiekis: 5

In [12]:
metai = int(input('Įveskite metus: '))
if (metai % 400 == 0) or (metai % 100 != 0 and metai % 4 == 0):
    print('Keliamieji metai')
else:
    print('Nekeliamieji metai')

Keliamieji metai

In [13]:
for metai in range(2000, 2100):
    if metai % 400 == 0:
        print(metai)
    elif metai % 100 == 0:
        continue
    elif metai % 4 == 0:
        print(metai)
    else:
        continue

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

## While ciklai

In [26]:
skaicius = 10
while skaicius >= -1:
    print(skaicius)
    skaicius -=1

10
9
8
7
6
5
4
3
2
1
0
-1

In [32]:
skaicius = 5
while skaicius >= -10:
    skaicius -= 1
    if skaicius == -5:
        print('Sustabdom ciklą nes yra skaičius -5')
        break
    elif skaicius == 0:
        print('Pratęsiam ciklą nes yra skaičius 0')
        continue
    print(skaicius)

4
3
2
1
Pratęsiam ciklą nes yra skaičius 0
-1
-2
-3
-4
Sustabdom ciklą nes yra skaičius -5

In [29]:
skaiciai = 0

while True:
    skaicius = int(input('Įveskite skaičių: '))
    if skaicius < 0:
        break
    skaiciai += skaicius
    print(skaiciai)

2
7
14
16

ValueError: invalid literal for int() with base 10: ''

## Tuples

In [36]:
tuples = ('ACDC', 'Capaldi', 'chop suey', 'rammstein')
print(tuples)

('ACDC', 'Capaldi', 'chop suey', 'rammstein')

In [37]:
tuples2 = ('Eminem', '50 Cent', 'Jean Marc')
grupes = tuples + tuples2
print(grupes)

('ACDC', 'Capaldi', 'chop suey', 'rammstein', 'Eminem', '50 Cent', 'Jean Marc')

In [40]:
print(grupes[0])
print(grupes[2])
print(grupes[-1])

ACDC
chop suey
Jean Marc

In [42]:
print(grupes[::2])

('ACDC', 'chop suey', 'Eminem', 'Jean Marc')

In [46]:
print(grupes.count('Eminem'))
indeksas = grupes.index('ACDC')
print(indeksas)

1
0

In [47]:
print('Cooper' in grupes)

False

In [48]:
bonus = tuple(set(grupes))

for grupe in bonus:
    print(grupe)

Eminem
Capaldi
rammstein
ACDC
50 Cent
Jean Marc
chop suey