## Pradzia

In [39]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.upper())

AS ESU STUDENTAS

In [40]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.lower())

as esu studentas

In [41]:
vaisiai = ("apelsinas", "obuolys")
isvardinti = ", ".join(vaisiai)
print(isvardinti)

apelsinas, obuolys

In [42]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.split())

['As', 'esu', 'studentas']

In [43]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.find('studentas'))

7

In [44]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.replace('esu', 'busiu'))

As busiu studentas

## Teksto formatavimas

In [45]:
vardas = "Arnas"
amzius = 21
tekstas = "Sveiki aš " "esu " \
    + vardas + \
    ", man yra " + str(amzius) + 'metai'
print(tekstas)

Sveiki aš esu Arnas, man yra 21metai

In [46]:
vardas = "Arnas"
amzius = 21
tekstas = "Sveiki, as esu %s ir man yra %d metu" % (vardas, amzius)
print(tekstas)

Sveiki, as esu Arnas ir man yra 21 metu

In [47]:
tekstas = "Sveiki, aš esu {}, man yra {} metų".format(vardas, amzius)
print(tekstas)

Sveiki, aš esu Arnas, man yra 21 metų

In [48]:
tekstas = f"sveiki, as esu {vardas}, man yra {amzius} metu"
print(tekstas)

sveiki, as esu Arnas, man yra 21 metu

In [49]:
kaina = 99.9455
print(f"kaina: {kaina:.2f}")

kaina: 99.95

In [50]:
print(f"kaina: {kaina:010.0f}")
print(f"kaina: {kaina:10.0f}")
print(f"kaina: {kaina:0.0f}")

kaina: 0000000100
kaina:        100
kaina: 100

## uzduotis sarasai

In [51]:
sarasas = ["pica", "obuolys", "burgeris", "kotletas", "makaronai", "guliasas"]
print(sarasas[-1])

guliasas

In [52]:
print(sarasas[:3])
print(sarasas[-2:])
print(sarasas[1:4])
print(sarasas[::2])

['pica', 'obuolys', 'burgeris']
['makaronai', 'guliasas']
['obuolys', 'burgeris', 'kotletas']
['pica', 'burgeris', 'makaronai']

In [53]:
sarasas.append("suris")

In [54]:
print(sarasas)

['pica', 'obuolys', 'burgeris', 'kotletas', 'makaronai', 'guliasas', 'suris']

In [55]:
sarasas.remove('sultys')
print(sarasas)

ValueError: list.remove(x): x not in list

In [ ]:
kur_makaronai = sarasas.index("makaronai")
print(kur_makaronai)

4

In [ ]:
sarasas.reverse()
print(sarasas)

['s', 's', 'a', 's', 'a', 'i', 'l', 'u', 'g', 's', 's', 'a', 's', 'a', 'i', 'l', 'u', 'g', 'guliasas', 'makaronai', 'kotletas', 'sultys', 'burgeris', 'obuolys']

In [ ]:
print(len(sarasas))

24

In [ ]:
print("apelsinas" in sarasas)

False

## Zodynai

In [ ]:
zodynas = {'Reksas': 4, 'Bingo': 5, 'Grantas': 1}
print(zodynas)

{'Reksas': 4, 'Bingo': 5, 'Grantas': 1}

In [ ]:
print(zodynas['Bingo'])

5

In [ ]:
zodynas['Sniegius'] = 2
print(zodynas)

{'Reksas': 4, 'Bingo': 5, 'Grantas': 1, 'Sniegius': 2}

In [ ]:
zodynas['Bingo'] = 4
print(zodynas)

{'Reksas': 4, 'Bingo': 4, 'Grantas': 1, 'Sniegius': 2}

In [ ]:
del zodynas['Reksas']
print(zodynas)

{'Bingo': 4, 'Grantas': 1, 'Sniegius': 2}

In [ ]:
vardai = zodynas.keys()
print(vardai)
amzius = zodynas.values()
print(amzius)

dict_keys(['Bingo', 'Grantas', 'Sniegius'])
dict_values([4, 1, 2])

In [ ]:
augintiniu_sarasas = zodynas.items()
print(augintiniu_sarasas)
suo = zodynas.get('Grantas')
print(suo)

dict_items([('Bingo', 4), ('Grantas', 1), ('Sniegius', 2)])
1

## For ciklai

In [ ]:
sarasas = list('ABCDEF')
for raide in sarasas:
    print(raide)

A
B
C
D
E
F

In [ ]:
zodziai = []

for zodis in range(5):
    zodziai.append(input('Įveskite žodį: '))

for numeris, zodis in enumerate(zodziai):
    print(f'{numeris + 1}: {zodis}, simbolių kiekis: {len(zodis)}')
print('Žodžių kiekis:', len(zodziai))

1: , simbolių kiekis: 0
2: , simbolių kiekis: 0
3: , simbolių kiekis: 0
4: , simbolių kiekis: 0
5: , simbolių kiekis: 0
Žodžių kiekis: 5

In [ ]:
metai = int(input('Įveskite metus: '))
if (metai % 400 == 0) or (metai % 100 != 0 and metai % 4 == 0):
    print('Keliamieji metai')
else:
    print('Nekeliamieji metai')

Keliamieji metai

In [ ]:
for metai in range(2000, 2100):
    if metai % 400 == 0:
        print(metai)
    elif metai % 100 == 0:
        continue
    elif metai % 4 == 0:
        print(metai)
    else:
        continue

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

## While ciklai

In [ ]:
8 = 10
while 8 >= -1:
    print(8)
    8 -=1

10
9
8
7
6
5
4
3
2
1
0
-1

In [ ]:
8 = 5
while 8 >= -10:
    8 -= 1
    if 8 == -5:
        print('Sustabdom ciklą nes yra skaičius -5')
        break
    elif 8 == 0:
        print('Pratęsiam ciklą nes yra skaičius 0')
        continue
    print(8)

4
3
2
1
Pratęsiam ciklą nes yra skaičius 0
-1
-2
-3
-4
Sustabdom ciklą nes yra skaičius -5

In [ ]:
skaiciai = 0

while True:
    8 = int(input('Įveskite skaičių: '))
    if 8 < 0:
        break
    skaiciai += 8
    print(skaiciai)

2
7
14
16

ValueError: invalid literal for int() with base 10: ''

## Tuples

In [ ]:
tuples = ('ACDC', 'Capaldi', 'chop suey', 'rammstein')
print(tuples)

('ACDC', 'Capaldi', 'chop suey', 'rammstein')

In [ ]:
tuples2 = ('Eminem', '50 Cent', 'Jean Marc')
grupes = tuples + tuples2
print(grupes)

('ACDC', 'Capaldi', 'chop suey', 'rammstein', 'Eminem', '50 Cent', 'Jean Marc')

In [ ]:
print(grupes[0])
print(grupes[2])
print(grupes[-1])

ACDC
chop suey
Jean Marc

In [ ]:
print(grupes[::2])

('ACDC', 'chop suey', 'Eminem', 'Jean Marc')

In [ ]:
print(grupes.count('Eminem'))
indeksas = grupes.index('ACDC')
print(indeksas)

1
0

In [ ]:
print('Cooper' in grupes)

False

In [ ]:
bonus = tuple(set(grupes))

for grupe in bonus:
    print(grupe)

Eminem
Capaldi
rammstein
ACDC
50 Cent
Jean Marc
chop suey

## Aibes

In [ ]:
aibe = {1, 2, 3, 4, 5, 6, 7, 8}
aibe.add(9)
print(aibe)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
aibe1 = {1, 8, 9, 11, 54, 15, 62}
aibe1.remove(1)
print(aibe1)

{54, 8, 9, 11, 62, 15}

In [ ]:
abi_aibes = aibe.intersection(aibe1)
print(abi_aibes)

{8, 9}

In [ ]:
nauja = aibe.difference(aibe1)
print(nauja)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
nauja1 = aibe1.difference(aibe)
print(nauja1)

{62, 11, 54, 15}

In [ ]:
nauja_kvadratu = {x**2 for x in nauja1}
print(nauja_kvadratu)

{2916, 121, 3844, 225}

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (3430644149.py, line 1)

## funkcijos

In [ ]:
def lyginis_nelyginis(skaicius):
    if skaicius % 2 == 0:
        print("Įvestas skaičius yra lyginis")
    else:
        print("Įvestas skaičius yra nelyginis") 
lyginis_nelyginis(7)

Įvestas skaičius yra nelyginis

In [ ]:
def ar_teigiamas(skaicius):
    if skaicius > 0:
        print("skaicius yra teigiamas")
    else:
        print('skaicius nera teigiamas')
ar_teigiamas(8)

skaicius yra teigiamas

In [ ]:
def ar_daugiau_nei(skaicius, riba):
    if skaicius > riba:
        print(f"Įvestas skaičius yra didesnis nei {riba}.")
    else:
        print(f"Įvestas skaičius nėra didesnis nei {riba}.")
ar_daugiau_nei(17, 100)

Įvestas skaičius nėra didesnis nei 100.

## return

In [ ]:
def sarasas_atbulai(sarasas):
    return sarasas[::-1]
sarasas_atbulai('obuolys')

'syloubo'

In [ ]:
def trikampio_plotas(a, b, c):
    s = (a + b + c) / 2
    plotas = (s * (s - a) * (s - b) * (s - c)) ** 0.5
    return plotas

a = 3
b = 4
c = 5
trikampio_plotas = trikampio_plotas(a, b, c)
print(trikampio_plotas)

6.0

In [ ]:
def sarasas_zodziu(sakinys, ilgis):
    zodziai = sakinys.split()
    ilgio_zodziai = []
    for zodis in zodziai:
        if len(zodis) == ilgis:
            ilgio_zodziai.append(zodis)
            return ilgio_zodziai

sakinys = "Labas vakaras, kaip praejo jusu diena?"
ilgis = 5
zodziai = sarasas_zodziu(sakinys, ilgis)
print(zodziai)

['Labas']

In [ ]:
def didziausias_skaicius(skaiciai):
    didziausias = skaiciai[0]
    for skaicius in skaiciai:
        if skaicius > didziausias:
            didziausias = skaicius
    return didziausias

skaiciai = [496, 242, 724, 153, 988, 542]
didziausias = didziausias_skaicius(skaiciai)
print(didziausias)

988

In [ ]:
def prasideda_raide(zodziai, raide):
    raides_zodziai = []
    for zodis in zodziai:
        if zodis[0] == raide:
            raides_zodziai.append(zodis)
    return raides_zodziai

zodziai = ['anvil', 'shroom', 'grill', 'burger', 'freshavocado']
raide = 'a'
zodziai_a = prasideda_raide(zodziai, raide)
print(zodziai_a)

['anvil']

In [ ]:
def ilgis_lyginis(tekstas):
    zodziai = tekstas.split()
    lyginio_ilgio_zodziai = []
    for zodis in zodziai:
        if len(zodis) % 2 == 0:
            lyginio_ilgio_zodziai.append(zodis)
    return lyginio_ilgio_zodziai

tekstas = "Labas vakaras draugai"
lyginio_ilgio_zodziai = ilgis_lyginis(tekstas)
print(lyginio_ilgio_zodziai)

[]

## Nebutini argumentai

In [ ]:
def apskritimo_plotas(apskritimo_spindulys, pi):
    plotas = pi * (apskritimo_spindulys ** 2)
    return plotas

apskritimo_plotas(4, 3.14)

50.24

In [ ]:
def keliones_informacija(keliones_trukme, greitis, vartojimas, kuro_kaina):
    atstumas = keliones_trukme * greitis
    sanaudos = atstumas * vartojimas / 100
    islaidos = sanaudos * kuro_kaina

    return {
        'atstumas': atstumas,
        'sanaudos': sanaudos,
        'islaidos': islaidos
    }

x = keliones_informacija(60, 90, 7, 1.98)
print(x)

{'atstumas': 5400, 'sanaudos': 378.0, 'islaidos': 748.4399999999999}

## Args Kwargs

In [ ]:
def didziausias(*args):
    if len(args) == 0:
        return None
    didziausia_reiksme = args[0]
    for arg in args:
        if arg > didziausia_reiksme:
            didziausia_reiksme = arg
    return didziausia_reiksme

print(didziausias(1, 3, 2, 47, 52, 74, 13, 56, 71, 59, 43))

74

In [ ]:
def raktai(**kwargs):
    nurodyti_raktai = {}
    for key in kwargs:
        if key in ['vardas', 'amzius', 'miestas', 'metai']:
            nurodyti_raktai[key] = kwargs[key]
    return nurodyti_raktai

print(raktai(vardas="Jonas", amzius=30, miestas="Vilnius", metai=2023))

{'vardas': 'Jonas', 'amzius': 30, 'miestas': 'Vilnius', 'metai': 2023}

In [ ]:
def sujungs(*args, **kwargs):
    visi_elementai = list(args)
    visi_elementai += list(kwargs.values())
    return visi_elementai

sujungs('vienas', 'kitas', 7)

['vienas', 'kitas', 7]

## Anonimines funkcijos

In [ ]:
skaiciai = [10, 50, 11, 9, 7, 56, 15]
daugiau_nei_10 = list(filter(lambda x: x > 10, skaiciai))
print(daugiau_nei_10)

[50, 11, 56, 15]

In [ ]:
skaiciai = [1, 2, 4, 5, 9, 54]
vidurkis = lambda x: sum(x) / len(x)

print(vidurkis(skaiciai))

12.5

In [ ]:
didziausias_skaicius = lambda x, y, z: max(x, y, z)

print(didziausias_skaicius(10, 30, 20))

30

## Objektai ir klases

In [ ]:
class Darbuotojas:
    def __init__(self, vardas, pavarde, pareigos, atlyginimas=3500):
        self.vardas = vardas
        self.pavarde = pavarde
        self.pareigos = pareigos
        self.atlyginimas = atlyginimas

In [ ]:
def __str__(self):
        return f'{self.vardas} {self.pavarde}, pareigos: {self.pareigos}, atlyginimas: {self.atlyginimas}'

In [56]:
darbuotojas = Darbuotojas('Andrius', 'Žilinskas', 'Programeris', 3500)

In [57]:
print('Darbuotojo pareigos: ', darbuotojas.pareigos)
print('Darbuotojo atlyginimas: ', darbuotojas.atlyginimas)

Darbuotojo pareigos:  Programeris
Darbuotojo atlyginimas:  3500

In [ ]:
darbuotojas.atlyginimas = 3000

In [70]:
print('darbuotojas: ', darbuotojas)

darbuotojas:  {<__main__.Darbuotojas object at 0x0000028861BE4D10>}

In [104]:
class Gyvunas():
    def __init__(self, vardas, amzius, svoris):
        self.vardas = vardas
        self.amzius = amzius
        self.svoris = svoris

    def padidinti_svori(self, kiek):
        self.svoris += kiek
    
    def sumazinti_svori(self, kiek):
        self.svoris -= kiek

    def padidejes_amzius(self):
        self.amzius += 1

    def __str__(self):
        return f'gyvūnas vardu: {self.vardas} jam yra {self.amzius} metu ir jis sveria {self.svoris}'

In [59]:
gyvunas = Gyvunas('Grantas', 4, 17)
print(gyvunas)

gyvūnas vardu: Grantas jam yra 4 metu ir jis sveria 17

In [60]:
gyvunas.padidinti_svori(2)
print(gyvunas)

gyvūnas vardu: Grantas jam yra 4 metu ir jis sveria 19

In [64]:
gyvunas.padidejes_amzius()
print(gyvunas)

gyvūnas vardu: Grantas jam yra 6 metu ir jis sveria 19

In [68]:
gyvunas.sumazinti_svori(3)
print(gyvunas)

gyvūnas vardu: Grantas jam yra 6 metu ir jis sveria 17

## Inkapsuliacija

In [96]:
class Bank:
    def __init__(self, savininkas, saskaitos_numeris, balansas, pin_kodas):
        self.saskaitos_numeris = saskaitos_numeris
        self.savininkas = savininkas
        self.__balansas = balansas
        self.__pin_kodas = pin_kodas

    def sumazinti(self, kiek, pin_kodas):
        if pin_kodas == self.__pin_kodas:
            self.__balansas -= kiek
            print(f'{kiek} EU buvo sekmingai nuskaityta iš jūsų sąskaitos, dabartinis likutis {self.__balansas}')
        else: print('Neteisingas pin kodas')

    def papildyti(self, kiek, pin_kodas):
        if pin_kodas == self.__pin_kodas:
            self.__balansas += kiek
            print(f'{kiek} EU buvo sekmingai pridėta į jūsų sąskaitą, dabartinis likutis {self.__balansas}')
        else: print('Neteisingas pin kodas')

saskaita = Bank('Arnas', 'LT123456789', 3670, 1234)

saskaita.papildyti(100, 1234)

100 EU buvo sekmingai pridėta į jūsų sąskaitą, dabartinis likutis 3770

In [91]:
class BankoSaskaita:
    def __init__(self, saskaitos_numeris, savininkas, balansas, pin_kodas):
        self.saskaitos_numeris = saskaitos_numeris
        self.savininkas = savininkas
        self.__balansas = balansas
        self.__pin_kodas = pin_kodas

    def nuskaityti(self, suma, pin_kodas):
        if pin_kodas == self.__pin_kodas:
            self.__balansas -= suma
            print(f'{suma} € sėkmingai nuskaityta. Dabartinis saskaitos likutis: {self.__balansas} €')
        else:
            print('Neteisingas slaptažodis. Nuskaitymas negalimas.')

    def papildyti(self, suma, pin_kodas):
        if pin_kodas == self.__pin_kodas:
            self.__balansas += suma
            print(f'{suma} € sėkmingai papildyta. Dabartinis saskaitos likutis: {self.__balansas} €')
        else:
            print('Neteisingas slaptažodis. Papildymas negalimas.')

saskaita = BankoSaskaita('LT123456789', 'Jonas Jonaitis', 1000, 1234)

saskaita.nuskaityti(100, 1234)

100 € sėkmingai nuskaityta. Dabartinis saskaitos likutis: 900 €

In [113]:
class Knygos():
    def __init__(self, pavadinimas, autorius, bukle, puslapiu_skaicius):
        self.__pavadinimas = pavadinimas
        self.__autorius = autorius
        self.__bukle = bukle
        self.__puslapiu_skaicius = puslapiu_skaicius

    def gauti_pavadinima(self):
        return self.__pavadinimas
    
    def gauti_autoriu(self):
        return self.__autorius
    
    def gauti_bukle(self):
        return self.__bukle
    
    def gauti_puslapiu_skaiciu(self):
        return self.__puslapiu_skaicius
    
    def __nauja_bukle(self, bukle):
        self.__bukle = bukle

    def __naujas_puslapiu_skaicius(self, puslapiai):
        self.__puslapiu_skaicius -= puslapiai

    def pakeisti_bukle(self, bukle):
        self.__nauja_bukle(bukle)

    def pakeisti_puslapiu_skaiciu(self, puslapiai):
        self.__naujas_puslapiu_skaicius(puslapiai)

knyga = Knygos('Python', 'infoHATA', 'ideali', 1822)

knyga.pakeisti_bukle('vidutine')
knyga.pakeisti_puslapiu_skaiciu(50)
print(knyga.gauti_autoriu())
print(knyga.gauti_bukle())
print(knyga.gauti_pavadinima())
print(knyga.gauti_puslapiu_skaiciu())

infoHATA
vidutine
Python
1772

## Random