## Pradzia

In [39]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.upper())

AS ESU STUDENTAS

In [40]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.lower())

as esu studentas

In [41]:
vaisiai = ("apelsinas", "obuolys")
isvardinti = ", ".join(vaisiai)
print(isvardinti)

apelsinas, obuolys

In [42]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.split())

['As', 'esu', 'studentas']

In [43]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.find('studentas'))

7

In [44]:
pasisveikinimas = "As esu studentas"
print(pasisveikinimas.replace('esu', 'busiu'))

As busiu studentas

## Teksto formatavimas

In [45]:
vardas = "Arnas"
amzius = 21
tekstas = "Sveiki aš " "esu " \
    + vardas + \
    ", man yra " + str(amzius) + 'metai'
print(tekstas)

Sveiki aš esu Arnas, man yra 21metai

In [46]:
vardas = "Arnas"
amzius = 21
tekstas = "Sveiki, as esu %s ir man yra %d metu" % (vardas, amzius)
print(tekstas)

Sveiki, as esu Arnas ir man yra 21 metu

In [47]:
tekstas = "Sveiki, aš esu {}, man yra {} metų".format(vardas, amzius)
print(tekstas)

Sveiki, aš esu Arnas, man yra 21 metų

In [48]:
tekstas = f"sveiki, as esu {vardas}, man yra {amzius} metu"
print(tekstas)

sveiki, as esu Arnas, man yra 21 metu

In [49]:
kaina = 99.9455
print(f"kaina: {kaina:.2f}")

kaina: 99.95

In [50]:
print(f"kaina: {kaina:010.0f}")
print(f"kaina: {kaina:10.0f}")
print(f"kaina: {kaina:0.0f}")

kaina: 0000000100
kaina:        100
kaina: 100

## uzduotis sarasai

In [51]:
sarasas = ["pica", "obuolys", "burgeris", "kotletas", "makaronai", "guliasas"]
print(sarasas[-1])

guliasas

In [52]:
print(sarasas[:3])
print(sarasas[-2:])
print(sarasas[1:4])
print(sarasas[::2])

['pica', 'obuolys', 'burgeris']
['makaronai', 'guliasas']
['obuolys', 'burgeris', 'kotletas']
['pica', 'burgeris', 'makaronai']

In [53]:
sarasas.append("suris")

In [54]:
print(sarasas)

['pica', 'obuolys', 'burgeris', 'kotletas', 'makaronai', 'guliasas', 'suris']

In [55]:
sarasas.remove('sultys')
print(sarasas)

ValueError: list.remove(x): x not in list

In [ ]:
kur_makaronai = sarasas.index("makaronai")
print(kur_makaronai)

4

In [ ]:
sarasas.reverse()
print(sarasas)

['s', 's', 'a', 's', 'a', 'i', 'l', 'u', 'g', 's', 's', 'a', 's', 'a', 'i', 'l', 'u', 'g', 'guliasas', 'makaronai', 'kotletas', 'sultys', 'burgeris', 'obuolys']

In [ ]:
print(len(sarasas))

24

In [ ]:
print("apelsinas" in sarasas)

False

## Zodynai

In [ ]:
zodynas = {'Reksas': 4, 'Bingo': 5, 'Grantas': 1}
print(zodynas)

{'Reksas': 4, 'Bingo': 5, 'Grantas': 1}

In [ ]:
print(zodynas['Bingo'])

5

In [ ]:
zodynas['Sniegius'] = 2
print(zodynas)

{'Reksas': 4, 'Bingo': 5, 'Grantas': 1, 'Sniegius': 2}

In [ ]:
zodynas['Bingo'] = 4
print(zodynas)

{'Reksas': 4, 'Bingo': 4, 'Grantas': 1, 'Sniegius': 2}

In [ ]:
del zodynas['Reksas']
print(zodynas)

{'Bingo': 4, 'Grantas': 1, 'Sniegius': 2}

In [ ]:
vardai = zodynas.keys()
print(vardai)
amzius = zodynas.values()
print(amzius)

dict_keys(['Bingo', 'Grantas', 'Sniegius'])
dict_values([4, 1, 2])

In [ ]:
augintiniu_sarasas = zodynas.items()
print(augintiniu_sarasas)
suo = zodynas.get('Grantas')
print(suo)

dict_items([('Bingo', 4), ('Grantas', 1), ('Sniegius', 2)])
1

## For ciklai

In [ ]:
sarasas = list('ABCDEF')
for raide in sarasas:
    print(raide)

A
B
C
D
E
F

In [ ]:
zodziai = []

for zodis in range(5):
    zodziai.append(input('Įveskite žodį: '))

for numeris, zodis in enumerate(zodziai):
    print(f'{numeris + 1}: {zodis}, simbolių kiekis: {len(zodis)}')
print('Žodžių kiekis:', len(zodziai))

1: , simbolių kiekis: 0
2: , simbolių kiekis: 0
3: , simbolių kiekis: 0
4: , simbolių kiekis: 0
5: , simbolių kiekis: 0
Žodžių kiekis: 5

In [ ]:
metai = int(input('Įveskite metus: '))
if (metai % 400 == 0) or (metai % 100 != 0 and metai % 4 == 0):
    print('Keliamieji metai')
else:
    print('Nekeliamieji metai')

Keliamieji metai

In [ ]:
for metai in range(2000, 2100):
    if metai % 400 == 0:
        print(metai)
    elif metai % 100 == 0:
        continue
    elif metai % 4 == 0:
        print(metai)
    else:
        continue

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

## While ciklai

In [ ]:
8 = 10
while 8 >= -1:
    print(8)
    8 -=1

10
9
8
7
6
5
4
3
2
1
0
-1

In [ ]:
8 = 5
while 8 >= -10:
    8 -= 1
    if 8 == -5:
        print('Sustabdom ciklą nes yra skaičius -5')
        break
    elif 8 == 0:
        print('Pratęsiam ciklą nes yra skaičius 0')
        continue
    print(8)

4
3
2
1
Pratęsiam ciklą nes yra skaičius 0
-1
-2
-3
-4
Sustabdom ciklą nes yra skaičius -5

In [ ]:
skaiciai = 0

while True:
    8 = int(input('Įveskite skaičių: '))
    if 8 < 0:
        break
    skaiciai += 8
    print(skaiciai)

2
7
14
16

ValueError: invalid literal for int() with base 10: ''

## Tuples

In [ ]:
tuples = ('ACDC', 'Capaldi', 'chop suey', 'rammstein')
print(tuples)

('ACDC', 'Capaldi', 'chop suey', 'rammstein')

In [ ]:
tuples2 = ('Eminem', '50 Cent', 'Jean Marc')
grupes = tuples + tuples2
print(grupes)

('ACDC', 'Capaldi', 'chop suey', 'rammstein', 'Eminem', '50 Cent', 'Jean Marc')

In [ ]:
print(grupes[0])
print(grupes[2])
print(grupes[-1])

ACDC
chop suey
Jean Marc

In [ ]:
print(grupes[::2])

('ACDC', 'chop suey', 'Eminem', 'Jean Marc')

In [ ]:
print(grupes.count('Eminem'))
indeksas = grupes.index('ACDC')
print(indeksas)

1
0

In [ ]:
print('Cooper' in grupes)

False

In [ ]:
bonus = tuple(set(grupes))

for grupe in bonus:
    print(grupe)

Eminem
Capaldi
rammstein
ACDC
50 Cent
Jean Marc
chop suey

## Aibes

In [ ]:
aibe = {1, 2, 3, 4, 5, 6, 7, 8}
aibe.add(9)
print(aibe)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
aibe1 = {1, 8, 9, 11, 54, 15, 62}
aibe1.remove(1)
print(aibe1)

{54, 8, 9, 11, 62, 15}

In [ ]:
abi_aibes = aibe.intersection(aibe1)
print(abi_aibes)

{8, 9}

In [ ]:
nauja = aibe.difference(aibe1)
print(nauja)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
nauja1 = aibe1.difference(aibe)
print(nauja1)

{62, 11, 54, 15}

In [ ]:
nauja_kvadratu = {x**2 for x in nauja1}
print(nauja_kvadratu)

{2916, 121, 3844, 225}

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (3430644149.py, line 1)

## funkcijos

In [ ]:
def lyginis_nelyginis(skaicius):
    if skaicius % 2 == 0:
        print("Įvestas skaičius yra lyginis")
    else:
        print("Įvestas skaičius yra nelyginis") 
lyginis_nelyginis(7)

Įvestas skaičius yra nelyginis

In [ ]:
def ar_teigiamas(skaicius):
    if skaicius > 0:
        print("skaicius yra teigiamas")
    else:
        print('skaicius nera teigiamas')
ar_teigiamas(8)

skaicius yra teigiamas

In [ ]:
def ar_daugiau_nei(skaicius, riba):
    if skaicius > riba:
        print(f"Įvestas skaičius yra didesnis nei {riba}.")
    else:
        print(f"Įvestas skaičius nėra didesnis nei {riba}.")
ar_daugiau_nei(17, 100)

Įvestas skaičius nėra didesnis nei 100.

## return

In [ ]:
def sarasas_atbulai(sarasas):
    return sarasas[::-1]
sarasas_atbulai('obuolys')

'syloubo'

In [ ]:
def trikampio_plotas(a, b, c):
    s = (a + b + c) / 2
    plotas = (s * (s - a) * (s - b) * (s - c)) ** 0.5
    return plotas

a = 3
b = 4
c = 5
trikampio_plotas = trikampio_plotas(a, b, c)
print(trikampio_plotas)

6.0

In [ ]:
def sarasas_zodziu(sakinys, ilgis):
    zodziai = sakinys.split()
    ilgio_zodziai = []
    for zodis in zodziai:
        if len(zodis) == ilgis:
            ilgio_zodziai.append(zodis)
            return ilgio_zodziai

sakinys = "Labas vakaras, kaip praejo jusu diena?"
ilgis = 5
zodziai = sarasas_zodziu(sakinys, ilgis)
print(zodziai)

['Labas']

In [ ]:
def didziausias_skaicius(skaiciai):
    didziausias = skaiciai[0]
    for skaicius in skaiciai:
        if skaicius > didziausias:
            didziausias = skaicius
    return didziausias

skaiciai = [496, 242, 724, 153, 988, 542]
didziausias = didziausias_skaicius(skaiciai)
print(didziausias)

988

In [ ]:
def prasideda_raide(zodziai, raide):
    raides_zodziai = []
    for zodis in zodziai:
        if zodis[0] == raide:
            raides_zodziai.append(zodis)
    return raides_zodziai

zodziai = ['anvil', 'shroom', 'grill', 'burger', 'freshavocado']
raide = 'a'
zodziai_a = prasideda_raide(zodziai, raide)
print(zodziai_a)

['anvil']

In [ ]:
def ilgis_lyginis(tekstas):
    zodziai = tekstas.split()
    lyginio_ilgio_zodziai = []
    for zodis in zodziai:
        if len(zodis) % 2 == 0:
            lyginio_ilgio_zodziai.append(zodis)
    return lyginio_ilgio_zodziai

tekstas = "Labas vakaras draugai"
lyginio_ilgio_zodziai = ilgis_lyginis(tekstas)
print(lyginio_ilgio_zodziai)

[]

## Nebutini argumentai

In [ ]:
def apskritimo_plotas(apskritimo_spindulys, pi):
    plotas = pi * (apskritimo_spindulys ** 2)
    return plotas

apskritimo_plotas(4, 3.14)

50.24

In [ ]:
def keliones_informacija(keliones_trukme, greitis, vartojimas, kuro_kaina):
    atstumas = keliones_trukme * greitis
    sanaudos = atstumas * vartojimas / 100
    islaidos = sanaudos * kuro_kaina

    return {
        'atstumas': atstumas,
        'sanaudos': sanaudos,
        'islaidos': islaidos
    }

x = keliones_informacija(60, 90, 7, 1.98)
print(x)

{'atstumas': 5400, 'sanaudos': 378.0, 'islaidos': 748.4399999999999}

## Args Kwargs

In [ ]:
def didziausias(*args):
    if len(args) == 0:
        return None
    didziausia_reiksme = args[0]
    for arg in args:
        if arg > didziausia_reiksme:
            didziausia_reiksme = arg
    return didziausia_reiksme

print(didziausias(1, 3, 2, 47, 52, 74, 13, 56, 71, 59, 43))

74

In [ ]:
def raktai(**kwargs):
    nurodyti_raktai = {}
    for key in kwargs:
        if key in ['vardas', 'amzius', 'miestas', 'metai']:
            nurodyti_raktai[key] = kwargs[key]
    return nurodyti_raktai

print(raktai(vardas="Jonas", amzius=30, miestas="Vilnius", metai=2023))

{'vardas': 'Jonas', 'amzius': 30, 'miestas': 'Vilnius', 'metai': 2023}

In [ ]:
def sujungs(*args, **kwargs):
    visi_elementai = list(args)
    visi_elementai += list(kwargs.values())
    return visi_elementai

sujungs('vienas', 'kitas', 7)

['vienas', 'kitas', 7]

## Anonimines funkcijos

In [ ]:
skaiciai = [10, 50, 11, 9, 7, 56, 15]
daugiau_nei_10 = list(filter(lambda x: x > 10, skaiciai))
print(daugiau_nei_10)

[50, 11, 56, 15]

In [ ]:
skaiciai = [1, 2, 4, 5, 9, 54]
vidurkis = lambda x: sum(x) / len(x)

print(vidurkis(skaiciai))

12.5

In [ ]:
didziausias_skaicius = lambda x, y, z: max(x, y, z)

print(didziausias_skaicius(10, 30, 20))

30

## Objektai ir klases

In [ ]:
class Darbuotojas:
    def __init__(self, vardas, pavarde, pareigos, atlyginimas=3500):
        self.vardas = vardas
        self.pavarde = pavarde
        self.pareigos = pareigos
        self.atlyginimas = atlyginimas

In [ ]:
def __str__(self):
        return f'{self.vardas} {self.pavarde}, pareigos: {self.pareigos}, atlyginimas: {self.atlyginimas}'

In [56]:
darbuotojas = Darbuotojas('Andrius', 'Žilinskas', 'Programeris', 3500)

In [57]:
print('Darbuotojo pareigos: ', darbuotojas.pareigos)
print('Darbuotojo atlyginimas: ', darbuotojas.atlyginimas)

Darbuotojo pareigos:  Programeris
Darbuotojo atlyginimas:  3500

In [ ]:
darbuotojas.atlyginimas = 3000

In [70]:
print('darbuotojas: ', darbuotojas)

darbuotojas:  {<__main__.Darbuotojas object at 0x0000028861BE4D10>}

In [104]:
class Gyvunas():
    def __init__(self, vardas, amzius, svoris):
        self.vardas = vardas
        self.amzius = amzius
        self.svoris = svoris

    def padidinti_svori(self, kiek):
        self.svoris += kiek
    
    def sumazinti_svori(self, kiek):
        self.svoris -= kiek

    def padidejes_amzius(self):
        self.amzius += 1

    def __str__(self):
        return f'gyvūnas vardu: {self.vardas} jam yra {self.amzius} metu ir jis sveria {self.svoris}'

In [59]:
gyvunas = Gyvunas('Grantas', 4, 17)
print(gyvunas)

gyvūnas vardu: Grantas jam yra 4 metu ir jis sveria 17

In [60]:
gyvunas.padidinti_svori(2)
print(gyvunas)

gyvūnas vardu: Grantas jam yra 4 metu ir jis sveria 19

In [64]:
gyvunas.padidejes_amzius()
print(gyvunas)

gyvūnas vardu: Grantas jam yra 6 metu ir jis sveria 19

In [68]:
gyvunas.sumazinti_svori(3)
print(gyvunas)

gyvūnas vardu: Grantas jam yra 6 metu ir jis sveria 17

## Inkapsuliacija

In [96]:
class Bank:
    def __init__(self, savininkas, saskaitos_numeris, balansas, pin_kodas):
        self.saskaitos_numeris = saskaitos_numeris
        self.savininkas = savininkas
        self.__balansas = balansas
        self.__pin_kodas = pin_kodas

    def sumazinti(self, kiek, pin_kodas):
        if pin_kodas == self.__pin_kodas:
            self.__balansas -= kiek
            print(f'{kiek} EU buvo sekmingai nuskaityta iš jūsų sąskaitos, dabartinis likutis {self.__balansas}')
        else: print('Neteisingas pin kodas')

    def papildyti(self, kiek, pin_kodas):
        if pin_kodas == self.__pin_kodas:
            self.__balansas += kiek
            print(f'{kiek} EU buvo sekmingai pridėta į jūsų sąskaitą, dabartinis likutis {self.__balansas}')
        else: print('Neteisingas pin kodas')

saskaita = Bank('Arnas', 'LT123456789', 3670, 1234)

saskaita.papildyti(100, 1234)

100 EU buvo sekmingai pridėta į jūsų sąskaitą, dabartinis likutis 3770

In [91]:
class BankoSaskaita:
    def __init__(self, saskaitos_numeris, savininkas, balansas, pin_kodas):
        self.saskaitos_numeris = saskaitos_numeris
        self.savininkas = savininkas
        self.__balansas = balansas
        self.__pin_kodas = pin_kodas

    def nuskaityti(self, suma, pin_kodas):
        if pin_kodas == self.__pin_kodas:
            self.__balansas -= suma
            print(f'{suma} € sėkmingai nuskaityta. Dabartinis saskaitos likutis: {self.__balansas} €')
        else:
            print('Neteisingas slaptažodis. Nuskaitymas negalimas.')

    def papildyti(self, suma, pin_kodas):
        if pin_kodas == self.__pin_kodas:
            self.__balansas += suma
            print(f'{suma} € sėkmingai papildyta. Dabartinis saskaitos likutis: {self.__balansas} €')
        else:
            print('Neteisingas slaptažodis. Papildymas negalimas.')

saskaita = BankoSaskaita('LT123456789', 'Jonas Jonaitis', 1000, 1234)

saskaita.nuskaityti(100, 1234)

100 € sėkmingai nuskaityta. Dabartinis saskaitos likutis: 900 €

In [113]:
class Knygos():
    def __init__(self, pavadinimas, autorius, bukle, puslapiu_skaicius):
        self.__pavadinimas = pavadinimas
        self.__autorius = autorius
        self.__bukle = bukle
        self.__puslapiu_skaicius = puslapiu_skaicius

    def gauti_pavadinima(self):
        return self.__pavadinimas
    
    def gauti_autoriu(self):
        return self.__autorius
    
    def gauti_bukle(self):
        return self.__bukle
    
    def gauti_puslapiu_skaiciu(self):
        return self.__puslapiu_skaicius
    
    def __nauja_bukle(self, bukle):
        self.__bukle = bukle

    def __naujas_puslapiu_skaicius(self, puslapiai):
        self.__puslapiu_skaicius -= puslapiai

    def pakeisti_bukle(self, bukle):
        self.__nauja_bukle(bukle)

    def pakeisti_puslapiu_skaiciu(self, puslapiai):
        self.__naujas_puslapiu_skaicius(puslapiai)

knyga = Knygos('Python', 'infoHATA', 'ideali', 1822)

knyga.pakeisti_bukle('vidutine')
knyga.pakeisti_puslapiu_skaiciu(50)
print(knyga.gauti_autoriu())
print(knyga.gauti_bukle())
print(knyga.gauti_pavadinima())
print(knyga.gauti_puslapiu_skaiciu())

infoHATA
vidutine
Python
1772

## Random

## Objektų ir klasių Paveldejimas

In [10]:
class Gyvunas():
    def __init__(self, vardas):
        self.vardas = vardas

    def balsas(self):
        pass

    def judejimas(self):
        print('Bega')

class Kate(Gyvunas):
    def balsas(self):
        print('Miau')

    def judejimas(self):
        print('Guli and sofos')

class Suo(Gyvunas):
    def balsas(self):
        print('Au au')

    def judejimas(self):
        print('Kasa duobes kieme')

class Arklys(Gyvunas):
    def balsas(self):
        pass

    def judejimas(self):
        print('Valgo žolę')

    

ziurkenas = Gyvunas('Ugnius')
kate = Kate('Puma')
suo = Suo('Grantas')
arklys = Arklys('Deimantas')

print(ziurkenas.vardas)
ziurkenas.balsas()
ziurkenas.judejimas()

print(kate.vardas)
kate.balsas()
kate.judejimas()

print(suo.vardas)
suo.balsas()
suo.judejimas()

print(arklys.vardas)
arklys.balsas()
arklys.judejimas()

Ugnius
Bega
Puma
Miau
Guli and sofos
Grantas
Au au
Kasa duobes kieme
Deimantas
Valgo žolę

In [11]:
print(isinstance(ziurkenas, Gyvunas))
print(isinstance(ziurkenas, Kate))
print(isinstance(ziurkenas, Suo))
print(isinstance(kate, Gyvunas))
print(isinstance(kate, Kate))
print(isinstance(kate, Suo))
print(isinstance(suo, Gyvunas))
print(isinstance(suo, Kate))
print(isinstance(suo, Suo))
print(isinstance(arklys, Arklys))
print(isinstance(arklys, Gyvunas))
print(isinstance(arklys, Kate))
print(isinstance(arklys, Suo))

True
False
False
True
True
False
True
False
True
True
True
False
False

# Abstrakcija

In [26]:
class Baseinas:

  def __init__(self, talpa, dabartinis_kiekis):
    self.__talpa = talpa
    self.__dabartinis_kiekis = dabartinis_kiekis

  def __keitimas(self, kiekis):
    self.__dabartinis_kiekis += kiekis

  def pilamas_vanduo(self, kiekis):
    if self.__dabartinis_kiekis + kiekis <= self.__talpa:
      self.__keitimas(kiekis)
      print(f'Įpilta {kiekis} litrų vandens')
    else:
      print(f'Negalima įpilti {kiekis} litrų vandens, nes viršytų talpą')

  def nuleisti_vandeni(self, kiekis):
    if self.__dabartinis_kiekis - kiekis >= 0:
      self.__keitimas(-kiekis)
      print(f'Išpilta {kiekis} litrų vandens')
    else:
      print(
        f'Negalima išpilti {kiekis} litrų vandens, nes dabar yra tik {self.__dabartinis_kiekis} litrų'
      )

  def get_talpa(self):
    return self.__talpa
  
  def get_dabartinis_kiekis(self):
    return self.__dabartinis_kiekis


baseinas = Baseinas(1000, 300)
print(f'Baseino talpa: {baseinas.get_talpa()} litrų, šiuo metu baseinas užpildytas: {baseinas.get_dabartinis_kiekis()} litrais')

baseinas.nuleisti_vandeni(50)
baseinas.pilamas_vanduo(450)
print(baseinas.get_dabartinis_kiekis())

Baseino talpa: 1000 litrų, šiuo metu baseinas užpildytas: 300 litrais
Išpilta 50 litrų vandens
Įpilta 450 litrų vandens
700

# polimorph

In [20]:
class Darbuotojas:
    def __init__(self, vardas, pavarde, atlyginimas=1200):
        self.vardas = vardas
        self.pavarde = pavarde
        self.atlyginimas = atlyginimas

    def info(self):
        print(f'As {self.vardas} {self.pavarde}, mano alga {self.atlyginimas}')

class Administratorius(Darbuotojas):
    def __init__(self, vardas, pavarde, atlyginimas):
        super().__init__(vardas, pavarde, atlyginimas)

class Vadovas(Darbuotojas):
    def __init__(self, vardas, pavarde, atlyginimas, premija=1200):
        super().__init__(vardas, pavarde, atlyginimas)
        self.premija = premija

    def info(self):
        super().info()
        print(f'Premija: {self.premija} €')

In [21]:
darbuotojas = Darbuotojas('Kestas', 'Pavardenis', 3000)
admin = Administratorius('Danius', 'Pavardenius', 3500)
vadovas = Vadovas('Antanas', 'Pavardzius', 4000, 1000)

darbuotojai = [darbuotojas, admin, vadovas]

for darbuotojas in darbuotojai:
    darbuotojas.info()

print(darbuotojas.info)

As Kestas Pavardenis, mano alga 3000
As Danius Pavardenius, mano alga 3500
As Antanas Pavardzius, mano alga 4000
Premija: 1000 €
<bound method Vadovas.info of <__main__.Vadovas object at 0x00000294D6D3D710>>

In [11]:
def simple_multiplication(8) :
    if 8 % 2 == 0:
        8 * 8
    else:
        8 * 9

number = 8
simple_multiplication(number)
print(simple_multiplication)

SyntaxError: invalid syntax (1948165411.py, line 1)

## Datetime

In [6]:
import datetime
from datetime import datetime
import time

laikas = datetime.now()
print(laikas)
laikass = "%M:%S"

data = laikas.strftime(laikass)
print(data)

2023-04-24 13:38:00.294722
38:00

In [7]:
from datetime import datetime, timedelta
def gimtadienis(gimimo_data):
    gimimo_data_formatas = datetime.strptime(gimimo_data, '%Y-%m-%d')
    siandien = datetime.now()
    gimimo_diena = gimimo_data_formatas.replace(year=siandien.year)

    if gimimo_diena < siandien:
        gimimo_diena = gimimo_diena.replace(year=siandien.year + 1)

    skirias = gimimo_diena - siandien
    return skirias.days

gimimo_data = "2001-11-30"
print(f'Liko {gimtadienis(gimimo_data)} dienų iki gimtadienio')

Liko 219 dienų iki gimtadienio

In [10]:
def valandos(data_laikas):
    formatas = "%Y-%m-%d %H:%M"
    data = datetime.strptime(data_laikas, formatas)
    pridedam_valandas = data + timedelta(hours=48)
    naujas_laikas = pridedam_valandas.strftime(formatas)
    return naujas_laikas

data_laikas = "2023-04-24 13:54"
print(f'pridejus 48h {valandos(data_laikas)}')

pridejus 48h 2023-04-26 13:54

In [21]:
from datetime import datetime
def skirtumas_tarp_dvieju_datu(date1, date2):
    formatas = "%Y-%m-%d"
    date1 = datetime.fromtimestamp(date1)
    date2 = datetime.fromtimestamp(date2)
    skirtumas = abs(date2 - date1)
    return skirtumas.days

date1 = 1671395400
date2 = 1674000000

print(f"Laikotarpiu skirtumas dienomis: {skirtumas_tarp_dvieju_datu(date1, date2)}")

Laikotarpiu skirtumas dienomis: 30

In [23]:
from datetime import datetime
from zoneinfo import ZoneInfo, available_timezones
from pprint import pprint

for time_zone in available_timezones():
    print(time_zone)

## list comprehension

In [7]:
sarasas = [1, 11, 8, 6, 14, 17, 4]
rezultatas = map(lambda x: x* 2, filter(lambda x: x > 10, sarasas))

print(list(rezultatas))

result = [x * 2 for x in sarasas if x > 10]
print(result)

[22, 28, 34]
[22, 28, 34]

In [8]:
from functools import reduce
import operator
suma = reduce(lambda x, y: x * y, sarasas)
print(suma)

502656

In [13]:
import statistics
print(sum(sarasas))
print(statistics.mean(sarasas))
print(statistics.median(sarasas))
print(min(sarasas))
print(max(sarasas))

61
8.714285714285714
8
1
17

In [14]:
result1 = sorted(sarasas, key=lambda x: x % 3)
print(result1)

[6, 1, 4, 11, 8, 14, 17]

In [16]:
from functools import reduce

result2 = reduce(lambda x, y: x + y, filter(lambda x: x % 2 == 0, sarasas)) / len(list(filter(lambda x: x % 2 == 0, sarasas)))
print(result2)

result = sum(x for x in sarasas if x % 2 == 0) / len([x for x in sarasas if x % 2 == 0])
print(result)

8.0
8.0

## Iteratoriai

In [17]:
for skaicius in sarasas:
    if skaicius % 2 == 0:
        print(skaicius)

8
6
14
4

In [21]:
zodynas = {'a': 4, 'b': 6, 'c': 1, 'd': 3, 'e': 10}
zodynas1 = iter(zodynas.items())

while True:
    try:
        key, value = next(zodynas1)
        if value > 4:
            print(key)
    except StopIteration:
        break

b
e

In [22]:
sakinys = 'Gražus vakare dangus, saulė leidžias'
zodziu_ilgis = (len(zodis) for zodis in sakinys.split())

for ilgis in zodziu_ilgis:
    print(ilgis)

6
6
7
5
8

In [25]:
def pirminis(skaicius):
    if skaicius < 2:
        return False
    for i in range (2, skaicius):
        if skaicius % i == 0:
            return False
    return True

def pirminiai_iki_n(n):
    for skaicius in range(2, n + 1):
        if pirminis(skaicius):
            yield skaicius

pirminio_gen = pirminiai_iki_n(10000)

for skaicius in pirminio_gen:
    print(skaicius)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097
1103
1109
1117
1123
1129
1151
1153
1163
1171
1181
1187
1193
1201
1213
1217
1223
1229
1231
1237
1249
1259
1277
1279
1283
1289
1291
1297
1301
1303
1307
1319
1321
1327
1361
1367
1373
1381
1399
1409
1423
1427
1429
1433
1439
1447
1451
1453
1459
1471
1481
1483
1487
1489
1493
1499
1511
1523
1531
1543
1549
1553
1559
1567
1571
1579
1583
1597
1601
1607
1609
1613
1619
1621
1627
1637
1657
1663
1667
1669
1693
1697
1699
1709
1721
1723
1733
1741
1747
1753
1759
1777
1783
1787
1789
1801
1811
1823
1831
1847
1861
1867
1871
1873
1877
1879
1889
1901
1907
1913
1931
1933
1949
1951
1973
1979
1987
1993
1997
1999
2003
2011
2017
2027
2029
2039
2053
2063
2069
2081
2083
2087
2089
2099
2111
2113
2129
2131
2137
2141
2143
2153
2161
2179
2203
2207
2213
2221
2237
2239
2243
2251
2267
2269
2273
2281
2287
2293
2297
2309
2311
2333
2339
2341
2347
2351
2357
2371
2377
2381
2383
2389
2393
2399
2411
2417
2423
2437
2441
2447
2459
2467
2473
2477
2503
2521
2531
2539
2543
2549
2551
2557
2579
2591
2593
2609
2617
2621
2633
2647
2657
2659
2663
2671
2677
2683
2687
2689
2693
2699
2707
2711
2713
2719
2729
2731
2741
2749
2753
2767
2777
2789
2791
2797
2801
2803
2819
2833
2837
2843
2851
2857
2861
2879
2887
2897
2903
2909
2917
2927
2939
2953
2957
2963
2969
2971
2999
3001
3011
3019
3023
3037
3041
3049
3061
3067
3079
3083
3089
3109
3119
3121
3137
3163
3167
3169
3181
3187
3191
3203
3209
3217
3221
3229
3251
3253
3257
3259
3271
3299
3301
3307
3313
3319
3323
3329
3331
3343
3347
3359
3361
3371
3373
3389
3391
3407
3413
3433
3449
3457
3461
3463
3467
3469
3491
3499
3511
3517
3527
3529
3533
3539
3541
3547
3557
3559
3571
3581
3583
3593
3607
3613
3617
3623
3631
3637
3643
3659
3671
3673
3677
3691
3697
3701
3709
3719
3727
3733
3739
3761
3767
3769
3779
3793
3797
3803
3821
3823
3833
3847
3851
3853
3863
3877
3881
3889
3907
3911
3917
3919
3923
3929
3931
3943
3947
3967
3989
4001
4003
4007
4013
4019
4021
4027
4049
4051
4057
4073
4079
4091
4093
4099
4111
4127
4129
4133
4139
4153
4157
4159
4177
4201
4211
4217
4219
4229
4231
4241
4243
4253
4259
4261
4271
4273
4283
4289
4297
4327
4337
4339
4349
4357
4363
4373
4391
4397
4409
4421
4423
4441
4447
4451
4457
4463
4481
4483
4493
4507
4513
4517
4519
4523
4547
4549
4561
4567
4583
4591
4597
4603
4621
4637
4639
4643
4649
4651
4657
4663
4673
4679
4691
4703
4721
4723
4729
4733
4751
4759
4783
4787
4789
4793
4799
4801
4813
4817
4831
4861
4871
4877
4889
4903
4909
4919
4931
4933
4937
4943
4951
4957
4967
4969
4973
4987
4993
4999
5003
5009
5011
5021
5023
5039
5051
5059
5077
5081
5087
5099
5101
5107
5113
5119
5147
5153
5167
5171
5179
5189
5197
5209
5227
5231
5233
5237
5261
5273
5279
5281
5297
5303
5309
5323
5333
5347
5351
5381
5387
5393
5399
5407
5413
5417
5419
5431
5437
5441
5443
5449
5471
5477
5479
5483
5501
5503
5507
5519
5521
5527
5531
5557
5563
5569
5573
5581
5591
5623
5639
5641
5647
5651
5653
5657
5659
5669
5683
5689
5693
5701
5711
5717
5737
5741
5743
5749
5779
5783
5791
5801
5807
5813
5821
5827
5839
5843
5849
5851
5857
5861
5867
5869
5879
5881
5897
5903
5923
5927
5939
5953
5981
5987
6007
6011
6029
6037
6043
6047
6053
6067
6073
6079
6089
6091
6101
6113
6121
6131
6133
6143
6151
6163
6173
6197
6199
6203
6211
6217
6221
6229
6247
6257
6263
6269
6271
6277
6287
6299
6301
6311
6317
6323
6329
6337
6343
6353
6359
6361
6367
6373
6379
6389
6397
6421
6427
6449
6451
6469
6473
6481
6491
6521
6529
6547
6551
6553
6563
6569
6571
6577
6581
6599
6607
6619
6637
6653
6659
6661
6673
6679
6689
6691
6701
6703
6709
6719
6733
6737
6761
6763
6779
6781
6791
6793
6803
6823
6827
6829
6833
6841
6857
6863
6869
6871
6883
6899
6907
6911
6917
6947
6949
6959
6961
6967
6971
6977
6983
6991
6997
7001
7013
7019
7027
7039
7043
7057
7069
7079
7103
7109
7121
7127
7129
7151
7159
7177
7187
7193
7207
7211
7213
7219
7229
7237
7243
7247
7253
7283
7297
7307
7309
7321
7331
7333
7349
7351
7369
7393
7411
7417
7433
7451
7457
7459
7477
7481
7487
7489
7499
7507
7517
7523
7529
7537
7541
7547
7549
7559
7561
7573
7577
7583
7589
7591
7603
7607
7621
7639
7643
7649
7669
7673
7681
7687
7691
7699
7703
7717
7723
7727
7741
7753
7757
7759
7789
7793
7817
7823
7829
7841
7853
7867
7873
7877
7879
7883
7901
7907
7919
7927
7933
7937
7949
7951
7963
7993
8009
8011
8017
8039
8053
8059
8069
8081
8087
8089
8093
8101
8111
8117
8123
8147
8161
8167
8171
8179
8191
8209
8219
8221
8231
8233
8237
8243
8263
8269
8273
8287
8291
8293
8297
8311
8317
8329
8353
8363
8369
8377
8387
8389
8419
8423
8429
8431
8443
8447
8461
8467
8501
8513
8521
8527
8537
8539
8543
8563
8573
8581
8597
8599
8609
8623
8627
8629
8641
8647
8663
8669
8677
8681
8689
8693
8699
8707
8713
8719
8731
8737
8741
8747
8753
8761
8779
8783
8803
8807
8819
8821
8831
8837
8839
8849
8861
8863
8867
8887
8893
8923
8929
8933
8941
8951
8963
8969
8971
8999
9001
9007
9011
9013
9029
9041
9043
9049
9059
9067
9091
9103
9109
9127
9133
9137
9151
9157
9161
9173
9181
9187
9199
9203
9209
9221
9227
9239
9241
9257
9277
9281
9283
9293
9311
9319
9323
9337
9341
9343
9349
9371
9377
9391
9397
9403
9413
9419
9421
9431
9433
9437
9439
9461
9463
9467
9473
9479
9491
9497
9511
9521
9533
9539
9547
9551
9587
9601
9613
9619
9623
9629
9631
9643
9649
9661
9677
9679
9689
9697
9719
9721
9733
9739
9743
9749
9767
9769
9781
9787
9791
9803
9811
9817
9829
9833
9839
9851
9857
9859
9871
9883
9887
9901
9907
9923
9929
9931
9941
9949
9967
9973